:root {
  font-family: "Spoof", sans-serif !important;
}

h1{
  font-family: "Spoof-Bold", sans-serif !important;
  text-align: center;
}

button, a{
  font-family: "Spoof-Bold", sans-serif !important;
  text-align: center;
}

@font-face {
  font-family: 'Spoof';
  src: url('./assets/fonts/Spoof/Spoof-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoof-Bold';
  src: url('./assets/fonts/Spoof/Spoof-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}